.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-15 {
    margin-bottom: 15px;
}

.d-block {
    display: block;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.position-relative {
    position: relative;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.pt-1 {
    padding-top: 1rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.invalid-feedback {
    color: #ff1744;
    font-size: 14px;
}

.is-invalid {
    border: 1px solid #ff1744;
}

.font-size-13 {
    font-size: 13px;
}

.pt-2 {
    padding-top: 2px;
}

.pt-4 {
    padding-top: 4px;
}

.pt-6 {
    padding-top: 6px;
}

.mr-4 {
    margin-right: 4px;
}

.mr-2 {
    margin-right: 2px;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.text-left {
    text-align: left !important;
    direction: ltr !important;
}

.white-space-nowrap {
    white-space: nowrap !important;
}

.d-inline {
    display: inline !important;
}

.c-item-delete:before {
    content: '\e129';
    font-size: 16px;
}

.c-item-recover:before {
    content: '\E0E5';
    font-size: 16px;
}

.py-8 {
    padding: 8px 0;
}

.bg-transparent {
    background-color: rgba(255, 255, 255, 0);
}

.cursor-pointer {
    cursor: pointer;
}

.mt-10 {
    margin-top: 10px;
}

.dir-ltr {
    direction: ltr !important;
}

.dir-rtl {
    direction: rtl !important;
}

.text-white {
    color: #ffffff !important;
}

.border-radius-circle {
    border-radius: 50%;
}

.text-dark {
    color: #212121;
}

.text-success {
    color: #00b894 !important;
}

.text-info {
    color: #189bc3 !important;
}

.text-warning {
    color: #e3a507 !important;
}

.text-opacity-low {
    color: #44444460 !important;
}

.text-error {
    color: #e73368 !important;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.text-right {
    text-align: right;
}

.ms-drop {
    right: 0;
    left: 0;
}

.ms-drop ul > li label {

}

.ms-drop input[type="checkbox"] {
    position: relative !important;
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
    margin: 0 !important;
}

.c-loading {
    width: 30px;
    height: 30px;
    border-top: 3px solid #46b2f0;
    border-left: 3px solid #46b2f0;
    border-bottom: 3px solid #46b2f0;
    border-right: 3px solid #fff;
    margin-right: 12px;
    border-radius: 50%;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.p-0-important{
    padding: 0 !important;
}
